<?xml version="1.0" encoding="utf-8"?>
<Content Key="4709984f-9fd2-4eb1-a3a4-12739c4603c5" Alias="About Simple Forms" Level="2">
  <Info>
    <Parent Key="c31ccc1e-842f-4924-bca9-a03a908ba43f">Simple Forms</Parent>
    <Path>/SimpleForms/AboutSimpleForms</Path>
    <Trashed>false</Trashed>
    <ContentType>standardPage</ContentType>
    <CreateDate>2023-03-04T01:34:55</CreateDate>
    <NodeName Default="About Simple Forms" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b56382f1-6b9d-4cbd-805c-1681a9c7ac91">StandardPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <mainText>
      <Value><![CDATA[]]></Value>
    </mainText>
    <pageTitle>
      <Value><![CDATA[About Simple Forms]]></Value>
    </pageTitle>
    <subText>
      <Value><![CDATA[]]></Value>
    </subText>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>