<?xml version="1.0" encoding="utf-8"?>
<Content Key="fa5f870c-266d-4414-af42-e6bdf166311f" Alias="Contact (Partial View)" Level="2">
  <Info>
    <Parent Key="c31ccc1e-842f-4924-bca9-a03a908ba43f">Simple Forms</Parent>
    <Path>/SimpleForms/ContactPartialView</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2023-03-04T00:53:25</CreateDate>
    <NodeName Default="Contact (Partial View)" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f4bc6fa7-4cc0-498f-a7df-425f9dfec238">ContactPartial</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>This allows you to define your own contact form partial, so if you want to style it your own way you can. You are required to handle all the layout, and validation, but you can then post to the surface controller which ships with Simple Forms</p>]]></Value>
    </bodyText>
    <mainText>
      <Value><![CDATA[]]></Value>
    </mainText>
    <pageTitle>
      <Value><![CDATA[Custom Partial view Contact Page]]></Value>
    </pageTitle>
    <subText>
      <Value><![CDATA[]]></Value>
    </subText>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>