<?xml version="1.0" encoding="utf-8"?>
<Content Key="318862da-5fb7-429a-a507-5ece4c7a97f7" Alias="Contact (Taghelper)" Level="2">
  <Info>
    <Parent Key="c31ccc1e-842f-4924-bca9-a03a908ba43f">Simple Forms</Parent>
    <Path>/SimpleForms/ContactTaghelper</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2023-03-04T00:53:01</CreateDate>
    <NodeName Default="Contact (Taghelper)" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0cac3bc6-bc98-4075-8465-8bf943099a56">ContactPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>This implementation is shipped with the package uses a very basic tag-helper, which can be inserted using the following snippet into your page</p>
<pre>     
</pre>]]></Value>
    </bodyText>
    <mainText>
      <Value><![CDATA[]]></Value>
    </mainText>
    <pageTitle>
      <Value><![CDATA[Taghelper Contact Form]]></Value>
    </pageTitle>
    <subText>
      <Value><![CDATA[]]></Value>
    </subText>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>