<?xml version="1.0" encoding="utf-8"?>
<Content Key="2fd1b317-a907-4de5-bbef-eb0a4a5a1b92" Alias="Contact (Embedded)" Level="2">
  <Info>
    <Parent Key="c31ccc1e-842f-4924-bca9-a03a908ba43f">Simple Forms</Parent>
    <Path>/SimpleForms/ContactEmbedded</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2023-03-04T00:53:10</CreateDate>
    <NodeName Default="Contact (Embedded)" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0cac3bc6-bc98-4075-8465-8bf943099a56">ContactPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>