<?xml version="1.0" encoding="utf-8"?>
<Content Key="c31ccc1e-842f-4924-bca9-a03a908ba43f" Alias="Simple Forms" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SimpleForms</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-03-02T00:10:18</CreateDate>
    <NodeName Default="Simple Forms" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1db1583c-d8f1-44ee-8732-2494292199ed">Home</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>This is a basic package to build a contact form in Umbraco. It's still early days, and will be open sourced after UmbracoSpark 2023. At the moment the model is very basic, the idea that the community and anyone who feels like it can help expand it. </p>
<p>The package is also intended to be a demo of how to publish an Umbraco Package using Github Actions to the Nuget store as well as the Umbraco Marketplace.</p>
<p> </p>]]></Value>
    </bodyText>
    <contactFormTargetEmail>
      <Value><![CDATA[carl@sargunar.com]]></Value>
    </contactFormTargetEmail>
    <copyrightMessage>
      <Value><![CDATA[Carl Sargunar]]></Value>
    </copyrightMessage>
    <mainText>
      <Value><![CDATA[Simple Forms Umbraco Package]]></Value>
    </mainText>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <subText>
      <Value><![CDATA[A basic forms package for developers who don't want to write back-end code]]></Value>
    </subText>
  </Properties>
</Content>