<?xml version="1.0" encoding="utf-8"?>
<Content Key="c31ccc1e-842f-4924-bca9-a03a908ba43f" Alias="Simple Forms" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SimpleForms</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-03-02T00:10:18</CreateDate>
    <NodeName Default="Simple Forms" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1db1583c-d8f1-44ee-8732-2494292199ed">Home</Template>
  </Info>
  <Properties>
    <contactFormTargetEmail>
      <Value><![CDATA[carl@sargunar.com]]></Value>
    </contactFormTargetEmail>
    <copyrightMessage>
      <Value><![CDATA[Carl Sargunar]]></Value>
    </copyrightMessage>
  </Properties>
</Content>