<?xml version="1.0" encoding="utf-8"?>
<Content Key="e3eb56e3-3908-409d-b4a2-303f62605c6e" Alias="Thank You" Level="2">
  <Info>
    <Parent Key="c31ccc1e-842f-4924-bca9-a03a908ba43f">Simple Forms</Parent>
    <Path>/SimpleForms/ThankYou</Path>
    <Trashed>false</Trashed>
    <ContentType>standardPage</ContentType>
    <CreateDate>2023-03-04T01:41:12</CreateDate>
    <NodeName Default="Thank You" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b56382f1-6b9d-4cbd-805c-1681a9c7ac91">StandardPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>If you liked what you saw, please check out the Github Page over at <a rel="noopener" href="https://github.com/CarlSargunar/Umbraco.Community.SimpleForms" target="_blank">https://github.com/CarlSargunar/Umbraco.Community.SimpleForms</a> , and if you feel it deserves it, a tweet would be appreciated.</p>
<p>Thank you 🙏❤️</p>
<p>Carl </p>
<p><a rel="noopener" href="https://twitter.com/carlcod_es" target="_blank">@CarlCod_es</a></p>
<p> </p>]]></Value>
    </bodyText>
    <mainText>
      <Value><![CDATA[]]></Value>
    </mainText>
    <pageTitle>
      <Value><![CDATA[Thank You]]></Value>
    </pageTitle>
    <subText>
      <Value><![CDATA[]]></Value>
    </subText>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>