<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a1395cb5-7d7c-4d61-bb50-33125041ffb4" Alias="standardPage" Level="1">
  <Info>
    <Name>Standard Page</Name>
    <Icon>icon-script-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="49f871a8-76d0-443f-a605-6dfcb3723c5e">pageComposition</Composition>
    </Compositions>
    <DefaultTemplate>StandardPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b56382f1-6b9d-4cbd-805c-1681a9c7ac91">StandardPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>