<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4ea463b-b4f7-4b3d-98b0-fd8bf5a638e2" Alias="Screenshot" Level="2">
  <Info>
    <Parent Key="1fef95d5-bdc6-48b5-83f3-51568d6af289">Simple Forms</Parent>
    <Path>/SimpleForms/Screenshot</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-03-08T19:06:28</CreateDate>
    <NodeName Default="Screenshot" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hvdovrhx/screenshot.png",
  "focalPoint": {
    "left": 0.5025062656641605,
    "top": 0.6897803955326651
  }
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>